@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-2xl font-bold;
}

h2 {
	@apply text-xl font-bold;
}

.App {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
}

.panel {
	@apply card lg:card-side bg-base-200 shadow-md;
}

.panelContainer {
	@apply flex flex-col space-y-4;
}

.panelImg {
	@apply mx-8;
}

.icon {
	@apply h-16 text-inherit;
}

.iconDark {
	filter: invert(94%) sepia(8%) saturate(45%) hue-rotate(197deg)
		brightness(98%) contrast(90%);

	/* god-like codepen: https://codepen.io/sosuke/pen/Pjoqqp */
}
