@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2");
}

/* inter-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/inter-v12-latin-700.woff2") format("woff2");
}

/* montserrat-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2");
}

/* montserrat-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2");
}

body {
	font-family: "Inter", Arial, Helvetica, sans;
	font-weight: 400;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", Arial, Helvetica, sans;
	font-weight: 700;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-lg;
}

p > a {
	text-decoration: underline;
}

p > a:hover {
	color: #88c0d0 !important;
}

p > a:visited {
	color: #5e81ac !important;
}

.App {
	margin: 0 auto;
}

.panel {
	@apply card lg:card-side bg-base-200 shadow-md;
}

.panelContainer {
	@apply flex flex-col space-y-4;
}

.panelImg {
	@apply mx-8;
}

.icon {
	@apply h-16 fill-base-content;
}

.iconSm {
	@apply h-8 fill-base-content;
}

.swapIcon {
	@apply h-8 fill-base-content;
}
